
h1 {
    color:white;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: brown;
    padding:50px;
    border: 3px dotted orange;
}
#spanId {
    font-size:18px;
    margin:50px;
}
body {
    background-image: url(https://fastly.4sqi.net/img/general/600x600/41044337_iasAue5xcmSHLGrE5TtD70zrpeW4W5D4oechOlg9buY.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
a {
    background-color: yellow;
}